.nav-tabs {
    a {
      margin-right: 2rem;
      display: inline-block;
      padding: 1rem 0 1rem 0;
      font-size: 1.15rem;
      color: #8c939e;
      position: relative;
      &.active {
        color: #101620;
        font-weight: 600;
        span {
          background: #d9dfea;
          color: #5887d1;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: #457ace;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }
      }
      span {
        border-radius: 10px;
        font-size: 0.8rem;
        padding: 0.25rem 0.4rem;
        font-weight: 600;
        vertical-align: middle;
        position: relative;
        top: -2px;
        background: #dfe0e2;
        color: #868d99;
      }
    }
  }