<div class="container">
    <h1>Order Summary</h1>
    <div *ngFor="let tableOrder of order">
        <h2>Table number: {{tableOrder.tNumber}}</h2>
        <div *ngFor="let item of tableOrder">
            <div class="order-summary">
                <div class="item">
                    <span>{{item.name}} X {{item.quantity}}</span>
                    <span>{{item.price}}€</span>
                </div>
            </div>
        </div>
        <div class="total">
            <span>Total Amount:</span>
            <span>{{total}}€</span>
        </div>
    </div>
</div>