<div class="d-flex ">
    <div class="container">
        <h1>New Order</h1>
        <form (ngSubmit)="addItem()">
            <div class="form-group">
                <label for="table">Choos a Table</label>
                <input type="number" id="table" name="table" value="{{chosenTable?.tNumber}}">

                <!-- <select name="table" id="table" name="table"> -->
                    
                    <!-- <option selected>{{chosenTable?.tNumber}}</option> -->
                    <!-- <option *ngFor="let table of availableTables" [value]="table.tNumber">{{table.tNumber}}</option> -->
                <!-- </select> -->
            </div>
            <div class="form-group">
                <label for="meal">Choose a Meal:</label>
                <select id="meal" name="meal" [(ngModel)]="selectedMeal">
                    <option *ngFor="let dish of menu" [value]="dish.nome">{{dish.nome}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" [(ngModel)]="quantity" min="1" value="1">
            </div>
            <button type="submit">Add</button>
        </form>
    </div>

    <div class="container order-summary" *ngIf="showOrderSummary">
        <h2>Order Summary</h2>
        <div *ngFor="let tableOrder of order">
            <h3>Table {{ tableOrder[0]?.tNumber }} Order:</h3>
            <div *ngFor="let item of tableOrder" class="d-flex flex-column">
                <span>Meal: {{item.name}}</span>
                <span>Quantilty: {{item.quantity}}</span>
                <span>Price: {{item.price}}</span>
            </div>
        </div>
        <button [routerLink]="'/orders-list'" class="mr-2" (click)="placeOrder()">Place Order</button>
    </div>
</div>