<nav class="site-nav h-100" [class.isMenuClose]="menuToggle">
    <div class="name" [class.isMenuClose]="menuToggle">
        <h2 [class.isMenuClose]="menuToggle">Dashboard</h2>
        <svg width="25px" height="25px" xmlns="http://www.w3.org/2000/svg" (click)="onMenuToggle()">
            <path d="M4 18L20 18" stroke="white" stroke-width="2" stroke-linecap="round" />
            <path d="M4 12L20 12" stroke="white" stroke-width="2" stroke-linecap="round" />
            <path d="M4 6L20 6" stroke="white" stroke-width="2" stroke-linecap="round" />
        </svg>
    </div>

    <ul>
        <li [class.active]="isActive('tables')"><a [routerLink]="'tables'">Tables</a></li>
        <li [class.active]="isActive('new-order')"><a [routerLink]="'new-order'">Order</a></li>
        <li [class.active]="isActive('orders-list')"><a [routerLink]="'orders-list'">Orders List</a></li>
        <li [class.active]="isActive('checkout')"><a [routerLink]="'checkout'">Payment</a></li>
    </ul>
</nav>